// index.HTML
// ========================
html {
  background-color: #202828;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.App {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.backgroundImage {
  height: 100vh;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  width: 100vw;
  background: url("https://images.unsplash.com/photo-1552297777-dacae7d2b894?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-position: center 25%;
  filter: brightness(0.5) sepia(30%) hue-rotate(270deg);
  z-index: 0;
}

.mainContent {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  text-align: center;
  width: 500px;
}

.navBar {
  background-color: rgb(32, 39, 39);
}


@media only screen and (max-width: 690px) {
.Thumbnail :hover {
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .App {
    left: -4%;
    width: 100%;
    top: 150px;
  }
}
