.Card {
  background-color: #202828;
  box-shadow: #2e5657 5px 5px 5px;
  top: -5%;
  min-width: 60%;
  max-width: 70%;
  position: relative;
  height: 70%;
  padding: 25px;
  display: grid;
  grid-template-areas: "Main Sub" "Gall Gall";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60% 40%;
  text-shadow: black 1px 1px 1px;
}

.favoriteBtn {
  position: absolute;
  top: 7%;
  right: 10%;
  font-size: 16px;
  background: none;
  border: none;
}

.fave-true > * {
  color: red;
}

.toggle-close {
  position: absolute;
  background: none;
  width: 50px;
  font-size: 35px;
  right: 5%;
  border: none;
  top: 6%;
}

.toggle-close i {
  color: lightgrey;
}

.Card p {
  color: lightgrey;
}

.Main_Info {
  grid-area: Main;
}

.Sub_Info {
  grid-area: Sub;
}

iframe {
  position: relative;
  right: 5%;
  top: 15%;
  background-color: #153233;
  padding: 10px;
  height: 75%;
  width: 150%;
}

.Card .Gallery {
  grid-area: Gall;
}

.favoriteBtn i:hover {
  color: white;
}

.toggle-close i:hover {
  color: white;
}

@media only screen and (max-width: 935px) {
  .Card {
    display: flex;
    flex-direction: column;
    height: 83%;
  }
  .favoriteBtn {
    position: absolute;
    top: 6.5%;
    right: 12%;
    font-size: 17px;
  }
}

@media only screen and (max-width: 690px) {
  .Card {
    padding-top: 50px;
    flex-direction: column;
    height: auto;
    top: -15%;
    left: 4%;
  }
  .toggle-close {
    right: 35px;
    top: 5px;
  }
  .favoriteBtn {
    right: 80px;
    top: 8px;
  }

  .phone {
    position: static;
  }
}

@media only screen and (max-width: 490px) {
  .Card {
    top: -45px;
  }

  .Main_Info {
    height: 300px;
  }
}
