.Card {
  background-color: #202828;
  box-shadow: #2e5657 5px 5px 5px;
  top: -5%;
  // left: 3%;
  min-width: 60%;
  max-width: 70%;
  position: relative;
  height: 70%;
  padding: 25px;
  display: grid;
  grid-template-areas: "Main Sub" "Gall Gall";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60% 40%;
  text-shadow: black 1px 1px 1px;
}

.favoriteBtn {
  position: absolute;
  top: 7%;
  right: 10%;
  font-size: 16px;
  background: none;
  border: none;
}

.fave-true > * {
  color: red;
}

.toggle-close {
  position: absolute;
  background: none;
  width: 50px;
  font-size: 35px;
  right: 5%;
  border: none;
  top: 6%;
}

.toggle-close i {
  color: lightgrey;
}

.Card p {
  color: lightgrey;
}

.Main_Info {
  grid-area: Main;
}

.Sub_Info {
  grid-area: Sub;
}

iframe {
  position: relative;
  right: 5%;
  top: 15%;
  background-color: #153233;
  padding: 10px;
  height: 75%;
  width: 150%;
}

.Card .Gallery {
  grid-area: Gall;
}

.favoriteBtn i:hover {
  color: white;
  cursor: pointer;
}

.toggle-close i:hover {
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .Card {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    margin-top: 185px;
    margin-left: 30px;
    -webkit-flex-direction: column;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}
