/* Testing Purposes */
.Gallery {
  display: flex;
  overflow: scroll;
  height: 100%;
}
/* ================ */
.Gallery {
  position: relative;
  background-color: #635083;
  border-radius: 0px 0px 20px 20px;
}

.Gallery-border {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  content: "";
  height: 10px;
  background-color: #202828;
}

.Card figcaption {
  min-height: 50px;
  min-width: 150px;
  text-align: center;
  color: lightgray;
  text-shadow: black 1px 1px 1px;
}

.Gallery .ThumbnailImg {
  min-height: 110px;
  &:hover {
    box-shadow: #202828 1px 5px 13px 1px, #635083 0px 9px 6px 1px;
  }
}

@media only screen and (max-width: 935px) {
  .Gallery-border {
    display: none;
  }
}
