.Main_Info {
  background-color: #2e5658;
  border-radius: 20px 0 0 0px;
  padding: 0 25px;
  // border: 1px solid blue;
}

.Queen-Main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Bar-Main {
  display: grid;
  grid-template-areas:
    "title title"
    "img notes"
    "icons icons";
  grid-template-columns: 1fr 2fr;
}

.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  & h2 {
    margin: 0;
  }
}

.bar-img--container {
  grid-area: img;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes-container {
  grid-area: notes;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;

  & h4 {
    margin: 0;
    text-decoration: underline;
    padding-left: 10px;
    font-size: 17px;
    color: lightgray;
  }
  & p {
    font-size: 18px;
    margin: 0;
  }
}

h2 {
  margin: 0;
  margin-bottom: 10px;
  color: lightgray;
}

h4 {
  margin: 0;
  margin-bottom: 10px;
  text-align: justify;
}

.bar-img {
  width: 100px;
  border-radius: 50%;
  border: 5px ridge lightgray;
}

p {
  margin-top: 0;
}

.location span:hover {
  color: white;
}

.queen-content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 285px;
}

.Card .queen-content h2,
.Card .bio {
  color: rgb(75, 88, 114);
}

.queen-content h4 {
  color: cornflowerblue;
  max-height: 300px;
}

.Card .bio {
  font-size: 17px;
}

.social-links {
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.Bar-Main .social-links {
  grid-area: icons;
  width: 100%;
}

.Queen-Main .social-links {
  width: 315px;
}

.queen-links {
  background-color: white;
  border-radius: 20px;
  margin-top: 30px;
}

.phone {
  position: absolute;
  top: 6%;
  display: flex;
  flex-direction: row;
  right: 25%;
  font-size: 25px;
  align-items: center;
  justify-content: space-between;
  width: 210px;
}

.phone-icon {
  margin-right: 10px;
  position: relative;
  top: 6px;
}

.social-icon {
  width: 30px;
}

.web-icon {
  width: 33px;
  position: relative;
  left: -8px;
}

.fb-icon {
  width: 45px;
  position: relative;
}

p {
  font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 935px) {
  .Main_Info {
    padding: 5px 10px;
    border-radius: 20px 20px 0 0;
  }

  .Bar-Main {
    grid-template-areas: "title title" "img notes" "icons phone";
  }

  .phone {
    position: static;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    width: 210px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 0px;
  }

  .phone-icon {
    margin-right: 10px;
    position: relative;
    top: 6px;
  }
}
