.searchResults {
  background-color: #202828;
  box-shadow: #2e5657 5px 5px 5px;
  /* border-radius: 20px; */
  position: relative;
  z-index: 10;
  top: -5%;
  height: 75%;
  min-width: 60%;
  padding: 25px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-y: auto;
  display: grid;
  grid-auto-rows: 250px;
  grid-auto-columns: auto;
  grid-template-areas: "thumb thumb thumb thumb";
}

.searchResults .toggle-close {
  position: fixed;
  background: none;
  width: 50px;
  font-size: 35px;
  right: 270px;
  border: none;
  top: 165px;
}

.searchResults figcaption {
  color: lightgray;
  text-align: center;
  height: 15px;
}

.searchResults > .Thumbnail {
  margin: auto;
  display: flex;
  justify-items: baseline;
  padding-bottom: 50px;
  box-shadow: 3px 8px 6px 1px #635083;
  border-radius: 10px;
  background-image:
    radial-gradient(
     #93818b, #202828
    );
}

.searchResults::-webkit-scrollbar-track {
  /* border: 5px solid red; */
}

.searchResults::-webkit-scrollbar {
  background-color: #202828;
}

.searchResults::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #635083;
}
