/* font size is reaching in and modifying search results */
.SplashPage {
  font-family: "Lobster";
  font-size: 86px;
  position: fixed;
  top: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SplashPage h1 {
  margin: 1rem;
  color: lightgrey;
  text-shadow: #5d477f 2px 2px 3px;
}

.SplashPage .searchHolder {
  position: relative;
  bottom: -10px;
  left: -26px;
  margin: -8px 38px 0 43px;
  padding: 0;
  width: 483px;
}

.SplashPage .searchBarContainer {
  display: flex;
  flex-direction: column;
  max-height: 400px;
}