/* Testing Purposes */
.Sub-Info {
  /* border: 3px solid orange; */
}

/* ================ */
.Sub-Info {
  background-color: #2e5658;
  border-radius: 0 20px 0px 0;
  padding: 25px;
  box-shadow: #202828 3px 3px 2px;
}

.Sub-Info img {
  height: 100%;
  margin-top: 40px;
  object-fit: contain;
  width: 100%;
}

.img-holder {
  height: 300px;
  width: 300px;
}

.queen-img {
  height: 250px;
  margin-top: 40px;
  object-fit: cover;
  width: 250px;
}

@media only screen and (max-width: 450px) {
  .Sub-Info {
    display: none;
  }
}
