/* Testing Purpose */
.Card {
  /* border: yellow solid 5px; */
}
/* ==============  */
.Card {
  background-color: #202828;
  box-shadow: #2e5657 5px 5px 5px;
  top: 40px;
  left: 3%;
  width: 90%;
  position: absolute;
  height: 110%;
  padding: 25px;
  display: grid;
  grid-template-areas: "Main Sub" "Gall Gall";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 450px 200px;
}

.favoriteBtn {
  position: absolute;
  top: 43px;
  right: 83px;
  font-size: 16px;
  background: none;
  border: none;
}

.toggle-close {
  position: fixed;
  background: none;
  width: 50px;
  font-size: 35px;
  right: 77px;
  border: none;
  top: 145px;
}

.toggle-close i {
  color: lightgrey;
}

.Card p {
  color: lightgrey;
}

.Main_Info {
  grid-area: Main;
}

.Sub_Info {
  grid-area: Sub;
}

iframe {
  border: 0;
  position: relative;
  right: -8px;
  top: 40px;
  /* border-radius: 20px; */
  background-color: #153233;
  padding: 10px;
  height: 358px;
  width: 570px;
}

.Card .Gallery {
  grid-area: Gall;
}
