.showMenu {
  background-color: #202828;
  position: absolute;
  z-index: 100;
  list-style: none;
  left: 10px;
}

.hamburgerMenu {
  margin: 0 0 0 8px;
}

.hamburgerMenu ul {
  padding: 0;
}

.showMenu input {
  text-align: left;
  background-color: #202828;
  color: lightgray;
  font-size: 24px;
  border: none;
  padding: 5px 20px 10px;
  width: 100%;
}

.showMenu input:hover {
  background-color: white;
  color: #202828;
}