.NavBar {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.5rem;
  width: 95%;
  overflow: hidden;
}

.navLogo {
  font-family: "Lobster";
  color: lightgray;
  font-size: 2.2em;
  padding: 5px 0 0 20px;
}

.NavBar .searchBarContainer {
  display: flex;
  z-index: 9;
  height: 500%;
  margin-top: 210px;
}

.NavBar .searchHolder {
  position: absolute;
  z-index: 10;
  width: 533px;
  margin-top: 40px;
  overflow: auto;
}

.searchHolder {
  width: 500px;
}

i {
  color: lightgrey;
}

i:hover {
  color: white;
}
