.searchBarContainer {
  border: 1px solid red;
  /* display: flex; */
  /* position: fixed; */
  margin: 0 auto;
  padding: 0.5rem;
  width: 600px;
  z-index: 1;
  /* flex-direction: column; */
}

.SearchBar {
  border-radius: 25px 25px 25px 25px;
  display: inline-flex;
  flex: 1 1;
  width: 550px;
  overflow: auto;
  position: relative;
  height: 40px;
}

.searchIcon {
  padding: 0.2rem;
  font-size: 16px;
  height: 40px;
}

.searchTerm {
  border: 1px solid white;
  border-radius: 25px 0px 0px 25px;
  flex: 1;
  height: 40px;
  font-size: 16px;
  padding: 0.2rem 0.2rem 0.2rem 1rem;
}

.searchTerm:focus {
  border-radius: 25px 0px 0px 25px;
  border-right: none;
  border: 1px solid black;
  outline: none;
}

.searchButton:focus {
  outline: none;
}

.searchButton:hover {
  background: #649fdf;
  color: white;
  cursor: pointer;
}

.searchButton {
  background: #538ac5;
  border-radius: 0;
  border: 0;
  height: 40px;
  color: white;
  padding: 0.5rem;
}

.searchHolder {
  background: white;
  margin: 0 38px 0 19px;
  padding-left: 10px;
}
