.searchResults {
  background-color: #202828;
  box-shadow: #2e5657 5px 5px 5px;
  border-radius: 20px;
  position: absolute;
  z-index: 10;
  top: -110px;
  left: -30%;
  height: 100%;
  width: 150%;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
